:root {
  /* --background: #000000;
  --foreground: #171717; */
  --background: #ffffff;
    --foreground: #000000;
  --main-color: #143C7A;
  --regular-white-color: #FFFFFF;
  --section-one-bg-color: #D9DEEF80;
  --deco-line-color: #87C0FD;
  --header-paragraph-color: #475569;
  --contact-button-color: #BE2A2A;
  --titles-bg-color: #D9DEEF80;
  --tile-border-color: #E2E6EB;
  --paragraph-color: #1E293B;
  --main-color-opacity: #143d7ad3;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html{
  scroll-behavior: smooth;

}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p{
  color: var(--paragraph-color);
  font-weight: 600;
}

